@tailwind base;
@tailwind components;
@tailwind utilities;

/* This would normally go into a folder to be contained with its component */

.loading-bubble {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #cfeeff;
  padding: 10px 15px;
  border-radius: 20px;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background-color: #0031a7;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
